body {
  font-family: "poppins", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  color: #333;
}

form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  text-align: center;
  color: #ff6f61;
  font-weight: 600;
}

label,
legend {
  font-weight: 600;
  color: #333;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.8rem;
  margin-top: 0.5rem;
  border: 2px solid #ff6f61;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
}

fieldset {
  border: 2px solid #ff6f61;
  border-radius: 8px;
  padding: 1rem;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #ff9a9e;
  box-shadow: 0 0 8px rgba(255, 154, 158, 0.8);
}

input[type="radio"] {
  width: auto;
  margin-right: 0.5rem;
}

textarea {
  resize: none;
}

input[type="submit"] {
  background: linear-gradient(to right, #ff6f61, #fcb045);
  color: #fff;
  border: node;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s;
  display: block;
  margin: 1rem auto 0;
}

input[type="submit"]:hover {
  background: linear-gradient(to right, #fcb045, #ff9a9e);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
