nav {
  background-color: blue;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: rgb(152, 20, 20);
}

/* Corrected Media Query */
@media screen and (min-width: 768px) {
  nav a {
    background-color: yellow;
    float: right;
    display: block;
  }
}
